%h1 Picture's
- @movie.videoscenes.each do |videos|
  %h6
    %b Videos label:
    = vidoes.name
  - if vidoes.video.attached?
    .thumbnail= image_tag pictures.picture, class: "small"
  %br/
  = link_to "Remove Image", [vidoes.movie, vidoes], method: :delete, data: { confirm: "Are you sure?" }, class: "pic"
  %br/
%br/
= link_to 'Back to Movie', movie_path(@movie), class: "button"
