.center
  %h1 Your movies
  %h5 All of your movies have been ordered by the name of the author/prodution team.
.grid-x
  - @movies.each do |movie|
    .medium-3.cell
      = link_to movie_path(movie) do
        .callout.round
          .center
            Movie:
            = movie.name
            %br/
            Created By:
            = movie.author
= link_to 'New Movie', new_movie_path, class: "button"
