%h1 Editing scene

= render 'form'

= link_to 'Show', [@movie, @scene]
\|
= link_to 'Back', movie_path(@movie)
\|
= link_to 'Destroy', [@movie, @scene], method: :delete, data: { confirm: 'Are you sure?' }
