%h1 Picture's
- @picturescenes.each do |pictures|
  %h6
    %b Pictures label:
    = pictures.name
  - if pictures.picture.attached?
    .thumbnail= image_tag pictures.picture, class: "small"
  %br/
%br/
= link_to 'Back', movie_path(@movie), class: "button"
