body{
  background-color: #c2c2c2;
}

h1{
  color: grey;
}

.box {
  background-color: white;
  color: #6d6d6d;
  border-radius: 3px;
  padding: 15px;
}

.top-bar {
  margin-bottom: 20px;
}

img.small {
  height: 100px
}

h4 {
    color: ghostwhite;
}

a.button {
    color: brown;
    background-color: blanchedalmond;
}

a.button.hover {
    background-color: coral;
    color: red;
}
