footer {
  position: fixed;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  bottom: 0;
  width: 95%;
}

footer a {
 color: #555;
}

footer a:hover {
 color: #222;
}

footer small {
 float: left;
}

footer ul {
 float: right;
 list-style: none;
 margin-left: 10px;
}

footer ul li {
 float: left;
 margin-left: 10px;
}
