body{
  background-color: #c2c2c2;
}

h1,h2,h3,h4,h5,h6{
  color: red;
}

.box {
  background-color: white;
  color: #6d6d6d;
  border-radius: 3px;
  padding: 15px;
}

.top-bar {
  margin-bottom: 20px;
}
