%h3 Lion social
%p
  Welcome #{@email}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%p Were here to let you know #{@resource.username}. Your wellcome from Lion social
