.row
  .medium-6.columns
    %h1 About Movie Makers
    %p if you like movies why not ttry to make your own movies from movie makers.
.row
  .medium-8.columns
    %p the latest movie that funny comics is makeing is Killer toilets comics colide.
