%h1 The actors/roles
- @movie.credits.each do |credit|
  %h5 Who the actor is.
  %h5= credit.person
  %br/
  %h5 What part they played, who they are, and what they did.
  %h5= credit.for
= link_to "Better Print for credit", movie_bettercreditprint_path(@movie), class: "button"
