.row
  .medium-6.columns
    %h1 Welcome movie makers you can make script's on here so have fun!!!
.row
  .medium-6.columns.small-centered
    .box
      .big
        = link_to 'Ready', new_movie_url
