.row
  .medium-6.columns
    %h1 Welcome Movie Makers
.row
  .medium-7.columns
    %p to get started click the button down below.
    = image_tag("flim.png", class: "small")
.row
  .medium-6.columns.small-centered
    = link_to 'Ready', movies_path, class: 'button alert expanded'
