.row
  .medium-6.columns
    %h1 Welcome movie makers you can make script's on here so have fun!!!
.row
  .medium-6.columns.small-centered
    = link_to 'Ready', movies_path, class: 'button alert expanded'
