%h1 Welcome To Movie Makers
%h4 If you whould like to make your own movie your in the right place click the button below.
= image_pack_tag("flim.png", class: "small")
= link_to 'Ready', movies_path, class: 'button alert expanded'
