.row
  .medium-6.columns
    %h1 Welcome movie makers
.row
  .medium-7.columns
    %p to get stared click the ready button below this and if you are not a movie maker you can play around with my site so have fun!
    = image_tag("flim.png", class: "small")
.row
  .medium-6.columns.small-centered
    = link_to 'Ready', movies_path, class: 'button alert expanded'
