.noprint
  %footer.footer
    %small
      %h3 #{link_to "LionNav.com", "https://lionnav.com", target: :blank} by #{link_to "DJ967", "https://github.com/DJ967", target: :blank}
    %nav
      %ul
        %h4
        %li= link_to "About", abouts_path
