.noprint
  %footer.footer
    %small
      %h3
        %a{:href => "https://moviemaker.ttfh.co/"} Movie Makers
        by Leo Midili
    %nav
      %ul
        %h4
        %li= link_to "About", abouts_path
